.aqua {
  background-color: aqua;
}

.yellow {
  background-color: yellow;
}

.pink {
  background-color: pink;
}
.black {
  background-color: black;
}

.color {
  display: inline-block;
  border: 1px solid black;
  width: 40px;
  height: 40px;
}

#color-palette {
  border: 3px solid red;
}
