.aqua {
  background-color: aqua;
}

.yellow {
  background-color: yellow;
}

.pink {
  background-color: pink;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.color {
  display: inline-block;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.pixel {
  background-color: white;
  height: 40px;
  width: 40px;
  border: 1px solid black;
  display: inline-block;
}

#color-palette {
  border: 3px solid red;
}
#pixel-board {
  border: dotted 3px maroon;
  display: inline-block;
  width: 250px;
}
